<div class="nav justify-content-start">
  <%= link_to "一覧", books_path, class: 'nav-link' %>
</div>

<%= form_with(model: @book, local: true, url: choose_new_or_edit) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= @book.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_controll">
    <%= f.label :name %>
    <%= f.text_field :name, id: 'book_name' %>
  </div>

  <div class="form_controll">
    <%= f.label :description %>
    <%= f.text_field :description, rows: 10, id: 'book_name' %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= image_tag(@book.image.url) if @book.image && @book.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>